@model MyCvProject.Models.Entity.TblExperience
@{
    ViewBag.Title = "GetExperience";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Update Experiences</h2>
<br />
<form method="post">
    @Html.Label("Experience Id")
    @Html.TextBoxFor(x => x.ID, new { @class = "form-control" })
    <br />
    @Html.Label("Experience Title")
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    @Html.Label("Experience SubTitle")
    @Html.TextBoxFor(x => x.SubTitle, new { @class = "form-control" })
    <br />
    @Html.Label("Experience Date")
    @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
    <br />
    @Html.Label("Experience Description")
    @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Update Experiences</button>
</form>



